
/*
To specify light theme colors:
@media (prefers-color-scheme: light) {
	:root { ... }
}
*/

/* ============= General ============= */
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.25;
	font-weight: 300;
	color-scheme: dark;
	color: #e6e6e6;
	background-color: #242424;
	text-rendering: optimizeLegibility;
}
main {
	flex-grow: 1;
}
body {
	margin: 0;
}
h1 {
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
a {
	font-weight: 500;
	color: #558dd1;
	text-decoration: inherit;
	transition: color 0.2s;
}
a:hover {
	color: #2661a8;
}
button {
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	color: #ffffff;
	background-color: #1c5294;
	border-radius: 8px;
	border: 1px solid transparent;
	margin: 0.25em;
	padding: 0.25em 0.75em;
	cursor: pointer;
	transition: background-color 0.2s;
	white-space: nowrap;
}
button:hover {
	background-color: #3f7ac2;
	color: #ffffff;
}
form {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 1rem;
	max-width: 40rem;
}
form label {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


input, select {
	flex: 1;
	padding: 0.25rem;
	border: none;
	border-radius: 0.25rem;
	font-size: 0.9rem;
}
textarea {
	flex: 1;
	height: 4rem;
}
select {
	padding: 0.2rem;
}
:focus {
	outline: #3471bd;
	outline-style: solid;
	outline-width: 2px;
}
label {
	text-align: right;
	white-space: nowrap;
}


ol {
	display: grid;
	gap: 0.25rem;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	display: flex;
	align-items: center;
}
th, td {
	border: 1px solid;
	border-collapse: collapse;
	height: 30px;
	border-color: #808080;
}


nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 0;
	background-color: #181818;
}
nav .btn-home {
	margin-right: auto;
}
nav button {
	font-size: 1.2em;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0.75rem 1.25rem;
	color: #c0c0c0;
	background-color: #00000000;
	transition: background-color 0.2s;
	white-space: nowrap;
}
nav button:hover {
	color: #ffffff;
	background-color: #2960a8;
}


/* ============= General Pages ============= */
.notecard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	background-color: #1a1a1a;
}
.notecard form {
	gap: 1rem;
	border-radius: 0.5rem;
	padding: 2rem;
	background-color: #242424;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	width: 30rem;
}
.notecard-links {
	display: flex;
	justify-content: space-evenly;
	font-size: 0.9rem;
}


.formal {
	height: 100vh;
	background-color: #242424;
}
.formal main {
	padding: 0 1.5rem 1.5rem 1.5rem;
}
.formal form {
	margin-left: 1rem;
	max-width: 40rem;
}


/* ============= Custom ============= */
.multi-field button {
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 0.25rem;
	padding: 0;
	margin: 0 0 0 0.25rem;
	background-color: #303030;
	color: #a0a0a0;
	font-weight: 900;
	user-select: none;
	outline: none;
}
.multi-field button:hover {
	background-color: #404040;
}
.form-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	grid-column-start: 1;
	grid-column-end: 3;
}
.form-btns button {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	padding-left: 2rem;
	padding-right: 2rem;
}


.searchbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 1rem;
}
.searchbar label {
	margin-right: 1rem;
	margin-left: 3rem;
}
.searchbar button {
	margin-left: 3rem;
	padding: 0.2rem 1.5rem;
}
.searchbar select {
	flex: none;
}
.searchbar input {
	flex: none;
	width: 16rem;
}


.link-table {

}


/* ============= Specific Pages ============= */
.login-page form {
	width: 20rem;
	grid-template-columns: auto;
}
.signup-page form {
	width: 25rem;
}
.forgot-pass-page form {
	width: 20rem;
}


