/*
To specify light theme colors:
@media (prefers-color-scheme: light) {
	:root { ... }
}
*/

/* ============= General ============= */
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.25;
	font-weight: 300;
	color-scheme: dark;
	color: #e6e6e6;
	background-color: #242424;
	text-rendering: optimizeLegibility;
}
main {
	flex-grow: 1;
	overflow-x: auto;
}
body {
	margin: 0;
}
h1 {
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
h4 {
	margin: 1rem 0;
}
a {
	font-weight: 500;
	color: #558dd1;
	text-decoration: inherit;
	transition: color 0.2s;
}
a:hover {
	color: #2661a8;
}
button {
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	color: #ffffff;
	background-color: #1c5294;
	border-radius: 8px;
	border: 1px solid transparent;
	margin: 0.25em;
	padding: 0.25em 0.75em;
	cursor: pointer;
	transition: background-color 0.2s;
	white-space: nowrap;
}
button:hover {
	background-color: #3f7ac2;
	color: #ffffff;
}
form {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 1rem;
	max-width: 40rem;
}
form label {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

input,
select {
	flex: 1;
	padding: 0.25rem;
	border: none;
	border-radius: 0.25rem;
	font-size: 0.9rem;
}
textarea {
	flex: 1;
	height: 4rem;
}
select {
	padding: 0.2rem;
}
:focus {
	outline: #3471bd;
	outline-style: solid;
	outline-width: 2px;
}
label {
	text-align: right;
	white-space: nowrap;
}

ol {
	display: grid;
	gap: 0.25rem;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	display: flex;
	align-items: center;
}
table {
	border-collapse: collapse;
	background-color: #383838;
}
th, td {
	border: 1px solid;
	padding: 0.25rem 0.65rem;
	text-align: start;
	border-color: #585858;
}
th {
	background-color: #484848;
	border-color: #686868;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0;
	background-color: #181818;
}
nav .btn-home {
	margin-right: auto;
}
nav button {
	font-size: 1.2em;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0.75rem 1.25rem;
	color: #c0c0c0;
	background-color: #00000000;
	transition: background-color 0.2s;
	white-space: nowrap;
}
nav button:hover {
	color: #ffffff;
	background-color: #2960a8;
}

/* ============= General Pages ============= */
.notecard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	background-color: #1a1a1a;
}
.notecard .card {
	border-radius: 0.5rem;
	padding: 2rem;
	background-color: #242424;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	width: 30rem;
}
.notecard form {
	gap: 1rem;
	margin: 0;
}
.notecard-links {
	display: flex;
	justify-content: space-evenly;
	font-size: 0.9rem;
}

.formal {
	height: 100vh;
	background-color: #242424;
}
.formal main {
	padding: 0 1.5rem 1.5rem 1.5rem;
}
.formal form {
	margin-left: 1rem;
	max-width: 40rem;
}

/* ============= Custom ============= */

.btn-danger {
	background-color: #690000;
}

.btn-danger:hover {
	background-color: #8b0000;
}

#ExpBtn, 
#ClpBtn {
	width: 100%;
	margin-left: 0;
}

.text-window .edit {
	display: flex;
	justify-content: center;
	max-width: 40rem;
}
.text-window .edit textarea {
	font-family: inherit;
	border-radius: 5px 0 0 5px;
}
.text-window .edit .fancy-button {
	margin: 0px;
	font-size: .9rem;
	padding: 0.5rem;
	border-radius: 0;
	border-right-color: #3f7dc9;
}
.text-window .edit .fancy-button-end {
	border-radius: 0 5px 5px 0;
	border-right-color: #00000000;
}
.text-window .message {
	display: flex;
	justify-content: center;
	height: 1rem;
	margin: 1rem;
}
.text-window .modal-content {
	flex-direction: column;
	align-items: center;
}
.text-window .modal-content button {
	margin-top: 1rem;
}

.red-bordered {
	border-style: solid;
	border-width: thin;
	border-color: #ff0c00bd;
}

.unsaved-changes {
	display: flex;
	align-items: center;
	color: darkred;
	font-weight: bold;
}

.warning-modal .modal-content {
	display: block;
	padding-top: 0;
	background-color: #303030;
	font-weight: 400;
}

.warning-modal .modal-btn {
	background-color: #690000;
}


.multi-field button,
.file-upload-btn {
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 0.25rem;
	padding: 0;
	margin: 0 0 0 0.25rem;
	background-color: #303030;
	color: #a0a0a0;
	font-weight: 900;
	user-select: none;
	outline: none;
}
.multi-field button:hover,
.file-upload-btn:hover {
	background-color: #404040;
}
.form-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	grid-column-start: 1;
	grid-column-end: 3;
}
.form-btns button {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
.form-btns button:disabled,
.prev-next-button button:disabled {
	background-color: #303030;
	color: #a0a0a0;
	cursor: default;
}

.searchbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 1rem;
}
.searchbar label {
	margin-right: 1rem;
	margin-left: 3rem;
}
.searchbar button {
	margin-left: 3rem;
	padding: 0.2rem 1.5rem;
}
.searchbar select {
	flex: none;
}
.searchbar input {
	flex: none;
	width: 16rem;
}


.link-table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tr-link > td {
	cursor: pointer;
	transition: background-color 0.05s ease;
}
.tr-link:hover > td {
	background-color: #484848;
	border-color: #686868;
}

.tr-link.no-link:hover > td {
	background-color: inherit;
	/* border-color: inherit; */
}

.tr-link.no-link > td {
	cursor: default;
}

.loading-icon {
	margin: 0 0.75rem;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.prev-next-button {
	width: 63em;
}

.page-control {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	color: #f5f5f5;
	line-height: 30px;
	cursor: pointer;
	margin: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.page-control:hover,
.page-control.disabled:hover {
	background-color: gray;;
}

.page-control.disabled {
	background-color: #585858;
	cursor: default;
}

.first-btn.no-display {
	display: none;
}

.thiefedit-page .title {
	display: flex;
}

.title > button {
	align-self: center;
}


/* ============= Specific Pages ============= */
.login-page .card {
	width: 20rem;
}
.login-page form {
	grid-template-columns: auto;
}
.signup-page .card {
	width: 25rem;
}
.forgot-pass-page .card {
	width: 20rem;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: #00000066;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal-content {
	background-color: black;
	padding: 20px;
	padding-top: 40px;
	border: 1px;
	border-style: solid;
	border-radius: 8px;
	width: 80%;
	max-width: 400px;
	position: relative;
	justify-content: center;
}

.image-modal .modal-content {
	width: fit-content;
	max-width: 80%;
	max-height: 85vh;
	overflow-y: auto;
}

.overlay-text {
	text-align: center;
	margin-bottom: 10px;
	display: block;
}

.modal-content .close {
	font-size: 28px;
	font-weight: bold;
	color: #aaaaaa;
	position: absolute;
	top: 5px;
	right: 15px;
}

.modal-content .close:hover,
.modal-content .close:focus {
	cursor: pointer;
	color: white;
}

.modal-content .error-message {
	color: red;
}

.upload-file-field {
	display: grid;
	grid-template-columns: repeat(auto-fill, 5rem);
	gap: 0.75rem;
	justify-items: start;
}

.thumbnail,
.file-upload-btn.expanded {
	width: 5rem;
	height: 5rem;
	object-fit: cover;
	cursor: pointer;
	margin: 0;
	border-radius: 5px;
}

.image-modal .image-modal-btns {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 5rem;
	display: flex;
	justify-content: space-between;
	width: 250px;
	padding: 10px;
	cursor: pointer;
}

.image-modal img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.modal-btn.delete {
	font-size: 7rem;
}

.modal-btn.delete:hover,
.modal-btn.delete:active {
	color: #e60000;
}

/* .thief-page .link-table tr  */

.data-page form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}
.data-page form button {
	margin-left: 0;
	margin-right: 0;
}

#alert-link:hover {
	cursor: pointer;
}

.upload-file-field input {
	display: none;
}